$book-color: #937c66;
$git-color: #413931;
$orial-color: #98591a;
$blue-color: #647a88;

@font-face
{
  font-family: "Menlo";
  src: url(Menlo-Regular.ttf);
}

body
{
	padding-top: 70px;
	font-family: "Menlo", sans-serif;
}

hr
{
	color: $book-color;
}

.logo
{
	padding:0px;
	margin:0px;
	height: 100px;
	background-image:url('/images/background.png');
	background-repeat: repeat;
}

.center
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

a.new {
	margin-top: 1px;
}

.tutorials-header
{
	width: 100%;
	h2
	{
		margin-top: 0px;
		font-family: "Adelle-Sans", sans-serif;
		border-color: $git-color;
		border-top-color: $git-color;
		color: $git-color;
	}
	
}

.form-control {
  border-radius: 0px;
}

.form-control:focus {
  border-color: #866b51;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #647A88;
  color: white;
  border-color: #647A88;
}

.btn-default {
  color: #647A88;
  background-color: white;
  border-radius: 0px;
  border-color: #647A88;
}

.dropdown-menu {
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: Menlo;
}
