doctype html
html
    head
        meta(charset="utf-8")
        
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
<<<<<<< HEAD
        link(rel="shortcut icon" href="public/images/favicon.ico")
=======
        link(rel="stylesheet" type="text/css" href="/css/main.css")
        link(rel="shortcut icon" href="/images/favicon.ico")
>>>>>>> 3e1181f5e74e4c794ca1bf6e70a76000a1ae4db9

        block head

    body(data-userid=(user && user.id) ? user.id : '')
        include mixins/navbar
        block nav

        block body

        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
        script(type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
        script(type="text/javascript" src="//use.typekit.net/hrd4gjm.js")
        script.
            try{Typekit.load();}catch(e){}
        block script
