extends base
block head
  link(rel="stylesheet" type="text/css" href="/css/edit.css")
  link(rel="stylesheet" type="text/css" href="/css/monokai.css")
  link(rel="stylesheet" type="text/css" href="/codemirror/codemirror.css")
  link(rel="stylesheet" type="text/css" href="/codemirror/theme/monokai.css")
  link(rel="stylesheet" type="text/css" href="/codemirror/addon/dialog/dialog.css")
block nav
  .navbar.navbar-static-top
    .container
      .navbar-header
        a(class="brand", href="/")
          img(src="/images/gitorial_svg.svg")
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li: a#save-button(title="Save")
            span.glyphicon.glyphicon-floppy-disk
            span#save-status  Save
          li: a#compile-button(title="Compile")
            span.glyphicon.glyphicon-refresh
            span#save-status  Compile
          li: a#discard-button(href="/", title="Discard")
            span.glyphicon.glyphicon-trash
            span#save-status  Discard
        if (user)
          ul.nav.navbar-nav.navbar-right
            li#me.dropdown: a.dropdown-toggle(data-toggle="dropdown")
              img.avatar(src=user._json.avatar_url)
              | &nbsp;&nbsp;Me
              b.caret
              ul.dropdown-menu
                li: a(href="/")
                  |  My Tutorials
                li: a(href="/edit")
                  |  New
                li.divider
                li: a(href="/logout")
                  |  Logout

block body
  #gitorial-edit(data-profileUrl=user.profileUrl, data-repo=repo)
    .tabbable.tabs-left
      ul.nav.nav-tabs
        each step, i in steps
          li.step(class=(i === 0 ? 'active' : '')): a(href="#" + (i + 1), data-toggle="tab", data-index=(i + 1))= 'Step ' + (i + 1)+ '.'
      .tab-content
         each step, i in steps
           .tab-pane(id=(i + 1), class=(i === 0 ? 'active' : ''))
             .tab-pane-inner
               .editor.col-md-6
                  form.editor-form
                    textarea(id='editor-pane-' + (i + 1))= '# Step ' + (i + 1) + '\n\n[[@]]'
               .preview.col-md-6
                 br
                 h1.text-center Click &ldquo;
                   span.glyphicon.glyphicon-refresh
                   |  Compile&rdquo; to see your notes!
  #data
    each step, i in steps
      div.hidden(id='text-' + (i + 1))= step
block script
  script(src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  script(src="/codemirror/codemirror.js")
  script(src="/codemirror/addon/mode/overlay.js")
  script(src="/codemirror/addon/search/search.js")
  script(src="/codemirror/addon/search/searchcursor.js")
  script(src="/codemirror/addon/dialog/dialog.js")
  script(src="/codemirror/mode/xml/xml.js")
  script(src="/codemirror/mode/markdown/markdown.js")
  script(src="/codemirror/mode/gfm/gfm.js")
  script(src="/codemirror/mode/css/css.js")
  script(src="/codemirror/mode/htmlmixed/htmlmixed.js")
  script(src="/codemirror/mode/clike/clike.js")
  script(src="/codemirror/keymap/vim.js")
  script(src="/js/prettify.js")
  script(src="/js/jquery.typing-0.2.0.min.js")
  script(src="/js/marked.js")
  script(src="/js/edit.js")
