extends base

block nav
	+navbar("home")

block head
	if (user)
		title= 'gitorial | ' + user.name.givenName + '\'s profile'
	else
		title gitorial | join!

block body
	if (user)
		p Hello World
	else
		link(rel="stylesheet" type="text/css" href="/css/home.css")

		div.jumbotron
			div.container
				h1 welcome to gitorial!

block script
