extends base

block nav
	+navbar("home")

block head
	if (user)
		title= 'gitorial | ' + user.name.givenName + '\'s profile'
	else
		title gitorial | join!

block body
	if (user)
		p Hello World
	else
		link(rel="stylesheet" type="text/css" href="/css/home.css")

		div.logo.center
			img(src="/images/gitorial_header.png")

		hr

		div.tutorials-header.center
			h2 my tutorials

		div.tutorials


block script
