extends base

include mixins/navbar

block nav
	+navbar("home")

block head

	if (user)
		title= 'gitorial | ' + user.name.givenName + '\'s profile'
	else
		title gitorial | join!

block body

block script
