extends base
block nav
    +navbar("view")
block head
    link(rel="stylesheet" type="text/css" href="/css/view.css")
    title= meta.title

block body
    ul(class="nav nav-tabs tabs-left")
        -for(var i=1; i<=Number(meta.steps); i++)
            if i == curStep
                li.active: a(href=i)= i + ". " + meta.steptitle[i]
            else
              if Math.abs(i-curStep) < 2
                li: a(href=i)= i + ". " + meta.steptitle[i]
              else
                li: a(href=i)= i
    divr(class="div-arrow pull-right")
        if (curStep < meta.steps)
            a(href= ((parseInt(curStep)+1)).toString()): div.circle: span(class="glyphicon glyphicon-chevron-right")
    div(class="div-arrow pull-left")
        if (curStep > 1)
            a(href= (curStep-1)): div.circle: span(class="glyphicon glyphicon-chevron-left")
    div(class="container")
        div.tutorial
            != data
        div(class="fb-comments"  data-href="http://gitorial.com/view/"+id+'/'+curStep data-numposts="5" data-width="800" data-colorscheme="light" order_by="reverse_time")
    div#fb-root

block script
    script.
        (function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1417476798496527";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));</script>
