extends base
block head
    link(rel="stylesheet" type="text/css" href="/css/view.css")

block body
    nav(class="navbar navbar-default navbar-static-top" role="navigation")
        div.container
            div.navbar-header
                button(type="button" class="navbar-togle" data-toggle="collapse" data-target="#navbar-collapse-1")
                    span.sr-only Toggle navigation
                a.navbar-brand gitorial
            div(class="collapse navbar-collapse" id="navbar-collapse-1")
    div(class="col-xs-4 div-step")
        h1.step Title
        - var steps = 8
        - var curStep = 3
        - for (var i=1; i<=steps; i++)
            if i == curStep
                h3.step= i + '. step'
            else
                p(class="step")= i + '. step'

block script
