/* custom inclusion of right, left and below tabs */
/* line 5, ../sass/edit.scss */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

/* line 10, ../sass/edit.scss */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

/* line 15, ../sass/edit.scss */
.tab-content > .active,
.pill-content > .active {
  display: block;
}

/* line 19, ../sass/edit.scss */
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

/* line 23, ../sass/edit.scss */
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

/* line 28, ../sass/edit.scss */
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 35, ../sass/edit.scss */
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

/* line 42, ../sass/edit.scss */
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

/* line 47, ../sass/edit.scss */
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

/* line 52, ../sass/edit.scss */
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

/* line 58, ../sass/edit.scss */
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

/* line 64, ../sass/edit.scss */
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 72, ../sass/edit.scss */
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

/* line 78, ../sass/edit.scss */
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

/* line 83, ../sass/edit.scss */
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

/* line 89, ../sass/edit.scss */
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 97, ../sass/edit.scss */
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

/* line 103, ../sass/edit.scss */
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* line 108, ../sass/edit.scss */
body, html {
  height: 100%;
}

/* line 111, ../sass/edit.scss */
#gitorial-edit {
  padding: 10px;
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-y: scroll;
}

/* line 121, ../sass/edit.scss */
.tab-pane-inner {
  display: flex;
}

/* line 124, ../sass/edit.scss */
.editor, .preview {
  border: 1px solid #ddd;
  margin: 0 8px;
  padding: 5px;
}
