/* custom inclusion of right, left and below tabs */
/* line 6, ../sass/edit.scss */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

/* line 11, ../sass/edit.scss */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

/* line 16, ../sass/edit.scss */
.tab-content > .active,
.pill-content > .active {
  display: block;
}

/* line 20, ../sass/edit.scss */
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

/* line 24, ../sass/edit.scss */
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

/* line 29, ../sass/edit.scss */
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 36, ../sass/edit.scss */
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

/* line 43, ../sass/edit.scss */
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

/* line 48, ../sass/edit.scss */
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

/* line 53, ../sass/edit.scss */
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

/* line 59, ../sass/edit.scss */
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

/* line 65, ../sass/edit.scss */
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 73, ../sass/edit.scss */
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

/* line 79, ../sass/edit.scss */
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

/* line 84, ../sass/edit.scss */
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

/* line 90, ../sass/edit.scss */
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 98, ../sass/edit.scss */
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

/* line 104, ../sass/edit.scss */
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* line 109, ../sass/edit.scss */
body, html {
  height: 100%;
}

/* line 112, ../sass/edit.scss */
#gitorial-edit {
  padding: 10px;
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-y: scroll;
}

/* line 122, ../sass/edit.scss */
.tab-pane-inner {
  display: flex;
}

/* line 125, ../sass/edit.scss */
.editor, .preview {
  border: 1px solid #ddd;
  margin: 0 8px;
  padding: 5px;
}

/* line 131, ../sass/edit.scss */
img.avatar {
  height: 32px;
  width: 32px;
  margin: -7px 0;
}

/* line 137, ../sass/edit.scss */
#me {
  cursor: pointer;
}

/* line 141, ../sass/edit.scss */
a:hover {
  cursor: pointer;
}

/* line 145, ../sass/edit.scss */
.nav > li > a {
  font-size: 14px;
  color: #647A88;
  font-family: "Menlo", monospace;
}

/* line 151, ../sass/edit.scss */
.pre-header {
  height: 30px;
  border: 1px solid #bbb;
  border-bottom: none;
  box-shadow: inset 0 1px 0 white, inset 0 6px 8px rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(50%, #cfcfcf), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

/* line 160, ../sass/edit.scss */
.pre-header p {
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

/* line 166, ../sass/edit.scss */
pre.prettyprint {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

/* line 172, ../sass/edit.scss */
.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Menlo;
}

/* line 178, ../sass/edit.scss */
.navbar.navbar-fixed-top,
.navbar.navbar-static-top {
  border-bottom: 1px solid #ddd;
}
