@font-face {
  font-family: "Menlo";
  src: url(Menlo.ttf);
}

/* line 13, ../sass/home.scss */
body {
  padding-top: 70px;
  font-family: "Menlo", sans-serif;
}

/* line 19, ../sass/home.scss */
.jumbotron {
  background-color: #647a88;
  color: #413931;
}
/* line 24, ../sass/home.scss */
.jumbotron h1 {
  font-family: "Menlo", sans-serif;
}
