a {
text-decoration: none;
color: white;
}

a:hover {
text-decoration: none;
color: #eee;
}

body {
    position:absolute;
    left:50%;
    top:15%;
    margin-left:-340px;
    margin-top:10px;
}

#whiteOne{
    position: absolute;
    top: 0px;
    z-index: 6;
    -webkit-animation-name: slideTop;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes slideTop{
    0% {
        left: 165px;
    }
    100% {
        left: 500px;
        top: 0px;
    }
}

#tagline {
    width: 20px;
    font-family: "source-code-pro";
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #647A88;
    position: absolute;
    left: 496px;
    top: 43px;
    z-index: 9999;
    opacity: .0;
    -webkit-animation-name: FadeIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 4.6s;
}

#tagline2{
    -webkit-animation-name: FadeIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 4s;
}
@-webkit-keyframes FadeIn{
    70% {
        opacity: .0;
    }
    100% {
        opacity: 1;
    }
}

#whiteTwo {
    position: absolute;
    top: 0px;
    z-index: 4;
    -webkit-animation-name: slideTopTwo;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 5s;
}

@-webkit-keyframes slideTopTwo{
    0% {
        left: 165px;
    }
    100% {
        left: 700px;
        top: 0px;
        position:absolute;
    }
}

#whiteThree {
    position: absolute;
    top: 0px;
    z-index: 2;
    -webkit-animation-name: slideTopThree;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 7s;
}

@-webkit-keyframes slideTopThree{
    00% {
        left: 265px;
    }
    100% {
        left: 700px;
        top: 0px;
        position:absolute;
    }
}

#desc {
    font-family: "adelle-sans";
    color: #647A88;
    font-size: 16px;
    width: 360px;
    padding-right: 10px;
    text-align: center;
    margin-top: 61px;
    margin-left: 100px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    border-radius: 3px;
}

#desc p .special{
    color: #98591A;
}


#github {
    font-family: "source-code-pro";
    background-color: #647A88;
    color: #647A88;
    font-size: 40px;
    margin-left: 60px;
    padding-right: 10px;
    margin-top: 80px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    border-radius: 3px;
    opacity: 0.0;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 4.5s;
}

@-webkit-keyframes fadeInLeft {
  90% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#github a :hover{
    background-color: #647A88;
    color: #eee;
}
#github:active{
    background-color: #415059;
    color: white;
}