body {
	background-color: #fafafa;
}

p {
	font-family: "freight-text-pro", sans-serif;
	font-size: 22px;
	line-height: 30px;
}

h1 {
	font-family: "Adelle-Sans", sans-serif;
	font-weight: bold;
}
	
.step {
	margin: 0px;
	padding: 4px;
	padding-right: 10px;
	color: #fafafa;
}

a.stepLink:hover {
	text-decoration: none;
}

.step:hover {
	background-color: #fafafa;
	color: #647A88;
	text-decoration: none;
}

.navbar {
	background-color: #FFF;
}

.nav-tabs {
	margin-top: 10px;
}

h3.step {
	margin-top: -2px;
}

html, body {
	height: 100%;
}

body {
	padding-top: 50px;
}

.div-step {
	width: 200px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #647A88;
}

.circle {
	vertical-align: middle;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-top: 70px;
	background-color: #fafafa;
	padding: 17px;
	color: #647A88;
	position: fixed;
	border: 1px solid #647A88;
}

.tutorial {
	text-align: left;
	max-width: 800px;
	padding: 0px;
	margin: 0px;
	padding-bottom: 40px;
	margin-left: 40px;
}

.div-arrow {
	width: 80px;
	padding-right: 10px;
	padding-left: 10px;
}

.circle:hover {
	color: #fafafa;
	background-color: #647A88;
}

.fb-comments {
	margin-top: 300px;
}

.navbar.navbar-fixed-top,
.navbar.navbar-static-top {
    border-bottom: 1px solid #d5d5d5;
    font-family: menlo;
}

.nav-tabs>li {
	font-family: menlo;
}

.pre-header {
  height: 30px;
  border: 1px solid #bbb;
  border-bottom: none;
  box-shadow: inset 0 1px 0 white, inset 0 6px 8px rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(50%, #cfcfcf), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

/* line 160, ../sass/edit.scss */
.pre-header p {
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

/* line 166, ../sass/edit.scss */
pre.prettyprint {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
