mixin navbar(active)
	if (active!="landing")
		.navbar.navbar-fixed-top
			.container
				.navbar-header
					a(class="brand", href="/")
						img(src="/images/gitorial_svg.svg")
				.navbar-inner
					ul.nav.navbar-nav
						li(class=(active=="about")?"active":"")
							a(href="/about/") about
						li(class=(active=="contact")?"active":"")
							a(href="/contact/") contact
						if (user)
							li(class=(active=="tutorial")?"active":"")
								a(href="/tutorial/") tutorial