mixin navbar(active)
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        a(class="brand", href="/")
          img(src="/images/gitorial_svg.svg")
      .navbar-inner
        ul.nav.navbar-nav
          li(class=(active=="about")?"active":"")
            a(href="/about/") about
          if (user)
            li(class=(active=="tutorial")?"active":"")
              a(href="/howto/") howto
